.App {
	text-align: center;
}

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100px;
	background: rgb(152, 222, 135);
}

.link {
	text-decoration: none;
	color: green;
	font-size: 24px;
	border: none;
	background: none;
}

.active {
	text-decoration: underline;
}

.login-container,
.sign-in-container {
	width: 400px;
	height: 200px;
	margin: 50px auto;
	padding: 30px;
	background: rgb(152, 222, 135);
}

.input {
	margin: 20px;
}

li {
	border: 3px solid rgb(152, 222, 135);
	border-radius: 15px;
	margin: 10px auto;
	padding: 10px;
	list-style: none;
	color: green;
	width: 800px;
	font-size: 24px;
}
